.main-rows {
    padding: 20%;
}

.main-text {
    font-size: 1rem;
    color: rgb(18, 18, 18);
    text-align: justify;
    padding: 1% 
}

.header-text {
    font-size: 1.5rem;
    color: rgb(18, 18, 18);
}

.main-header-image {
    margin-top: 2%;

    max-width: 100%;
}

.border-right {
    border-right: 1px solid #ddd; 
}
.border-bottom {
    border-right: 1px solid #ddd;
}

.side-bar-header {
    font-size: 1.5rem;
    color: rgb(18, 18, 18);
}

.col-sidebar {
    background-color: #fafafa;
    border-radius: 10px; 
}

